
input[type="image"] {
    width: 200px;
    border: 10px solid white;
    margin: 10px;
}

input[type="image"]:hover {
    width: 200px;
    border: 10px solid black;
    margin: 10px;
}

#computer_image {
    width: 200px;
    border: 10px solid white;
    margin: 10px;
}